################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Treug1/obj
/.vs
/Polygon1/obj/Debug
/Treug1/bin/Debug
/Polygon1/bin/Debug
